Repository AierLab/MultiverseNote, pull requests merged in 2024-08, with the labels that each got.

#32 merge frontend into the main branch, fix git ignore issues
  frontend/.expo/README.md
  frontend/.expo/devices.json
  frontend/.expo/types/router.d.ts
  frontend/.expo/web/cache/production/images/favicon/favicon-24272cdaeff82cc5facdaccd982a6f05b60c4504704bbf94c19a6388659880bb-contain-transparent/favicon-48.png
  frontend/.gitignore
  frontend/README.md
  frontend/app-example/(tabs)/_layout.tsx
  frontend/app-example/(tabs)/explore.tsx
  frontend/app-example/(tabs)/index.tsx
  frontend/app-example/+html.tsx
  frontend/app-example/+not-found.tsx
  frontend/app-example/_layout.tsx
  frontend/app.json
  frontend/app/_layout.tsx
  frontend/app/index.tsx
  frontend/assets/fonts/SpaceMono-Regular.ttf
  frontend/assets/images/adaptive-icon.png
  frontend/assets/images/favicon.png
  frontend/assets/images/icon.png
  frontend/assets/images/partial-react-logo.png
  frontend/assets/images/react-logo.png
  frontend/assets/images/react-logo@2x.png
  frontend/assets/images/react-logo@3x.png
  frontend/assets/images/splash.png
  frontend/babel.config.js
  frontend/components/Collapsible.tsx
  frontend/components/ExternalLink.tsx
  frontend/components/HelloWave.tsx
  frontend/components/ParallaxScrollView.tsx
  frontend/components/ThemedText.tsx
  frontend/components/ThemedView.tsx
  frontend/components/__tests__/ThemedText-test.tsx
  frontend/components/__tests__/__snapshots__/ThemedText-test.tsx.snap
  frontend/components/navigation/TabBarIcon.tsx
  frontend/constants/Colors.ts
  frontend/expo-env.d.ts
  frontend/hooks/useColorScheme.ts
  frontend/hooks/useColorScheme.web.ts
  frontend/hooks/useThemeColor.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/scripts/reset-project.js
  frontend/tsconfig.json
Labels: frontend, critical

#29 complete the agent prompt template apply
  backend/app/control/bot/baseBot.py
  backend/app/control/bot/openaiBot.py
  backend/app/control/bot/petalsBot.py
  backend/app/control/bot/wenxinBot.py
  backend/app/dao/agentDataManager.py
  backend/app/dao/historyDataManager.py
  backend/app/model/agentModel.py
  backend/app/model/baseModel.py
  backend/app/model/botModel.py
  backend/app/model/configModel.py
  backend/app/model/dataModel.py
  backend/app/view/appView.py
  backend/storage/agent/base.yaml
  backend/storage/agent/girl_jk.yaml
  backend/storage/config/main_config.yaml
  backend/storage/prompt_template/0_base.md
  backend/storage/prompt_template/1_jk.md
  backend/tests/functional/test_agentDataManager.py
Labels: enhancement, backend

#33 30 complete the documentation
  backend/app/control/bot/openaiBot.py
  backend/app/control/services/embeddingService.py
  backend/app/control/services/readFileService.py
  backend/app/control/services/searchOnlineService.py
  backend/app/dao/configDataManager.py
  backend/app/dao/historyDataManager.py
  backend/app/dao/vectorDataManager.py
  backend/app/main.py
  backend/app/model/agentModel.py
  backend/app/model/configModel.py
  backend/app/model/dataModel.py
  backend/app/view/appView.py
Labels: documentation
