Repository AierLab/MultiverseNote, pull requests merged in 2024-07, with the labels that each got.

#16 Flask server app development
  .gitignore
  backend/app/__init__.py
  backend/app/chatBot.py
  backend/app/database/__init__.py
  backend/app/database/historyStore.py
  backend/app/database/vectorStore.py
  backend/app/model/__init__.py
  backend/app/model/baseModel.py
  backend/app/model/openai.py
  backend/app/model/petals.py
  backend/app/model/wenxin.py
  backend/app/services/__init__.py
  backend/app/services/embeding.py
  backend/app/services/readFile.py
  backend/app/services/searchOnline.py
  backend/app/utils/__init__.py
  backend/config/__init__.py
  backend/config/appConfig.py
  backend/config/testConfig.py
  backend/requirements.txt
  backend/server.py
  backend/tests/__init__.py
Labels: backend

#21 Comprehensive Updates to Flask Configuration, API Documentation, and Database Handling
  .gitignore
  backend/app/__init__.py
  backend/app/chatBot.py
  backend/app/database/__init__.py
  backend/app/database/historyStore.py
  backend/app/database/vectorStore.py
  backend/app/model/__init__.py
  backend/app/model/baseModel.py
  backend/app/model/openaiModel.py
  backend/app/model/petalsModel.py
  backend/app/model/wenxinModel.py
  backend/app/services/__init__.py
  backend/app/services/embeddingService.py
  backend/app/services/searchOnlineService.py
  backend/app/utils/__init__.py
  backend/config.yaml
  backend/config/__init__.py
  backend/config/config.py
  backend/server.py
  backend/setup.py
  backend/tests/__init__.py
  backend/tests/historyTest.py
  backend/tests/openaiModelTest.py
Labels: documentation, backend, database

#25 Implemented the test suite structure and essential API tests
  backend/README.md
  backend/app/view/appView.py
  backend/tests/functional/__init__.py
  backend/tests/functional/functional_api_test.py
  backend/tests/functional/historyTest.py
  backend/tests/functional/openaiModelTest.py
  backend/tests/test.py
  backend/tests/unit/__init__.py
  backend/tests/unit/unit_api_test.py
Labels: bug, testing
